.information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.2rem;

        svg{
            font-size: 1.6rem;
            color:$color-primary;
        }

        h2{
            color: $color-grey;
            font-weight: 500;
        }
    }

    &__column{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 31%;
    }

    &__body{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.4rem;

            border-left: 1px solid $color-primary;
            padding-left: 1rem;
            margin-left: 0.5rem;

        h3,p{
            font-weight: 400;
            color: $color-grey;
        }
    }
}