.sidebar {
  padding: 1.4rem 1.4rem;
  background-color: $color-black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  grid-area: 1 / 1 / 13 / 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1000;
  height: 100vh;

  @include respond(tab-port) {
    grid-area: 1 / 1 / 13 / 2;
  }

  @include respond(phone) {
    display: none;
  }

  &__collapse {
    width: 8.8rem;
    transition: all 0.3s;
    p {
      display: none;
    }
  }

  &__mobile {
    width: 30rem;
    padding: 2rem;
    padding-bottom: 0;
    background: $color-black;
    height: 100vh;
    position: relative;
    &__overlay {
      width: 100%;
      height: 100vh;
      position: absolute;
      background-color: $color-black-2;
      z-index: 1000;
      display: none;

     
    }


  }

  &__close {
    position: absolute;
    top: 5rem;
    right: -1.4rem;
    font-size: 2rem;
    color: $color-white;
    cursor: pointer;
    background: $linear-gradient-3;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    height: 10rem;

    @include respond(tab-port) {
      height: 7rem;
    }

    &__imageBox {
      &__image {
        width: 6rem;
        border-radius: 0.6rem;
      }
    }

    &__text {
      color: $color-white;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  &__menuBar {
    height: calc(100% - 11rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tab-port) {
      height: calc(100% - 15rem);
    }

    @include respond(phone) {
      height: calc(100% - 15rem);
      
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      margin-top: 1rem;

      &__link {
        height: 5rem;
        margin-top: 1rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $color-white-2;
        min-width: 100%;
        border-radius: 0.6rem;
        cursor: pointer;

        @include respond(phone) {
          height: 4rem;
        }

        p {
          font-size: 1.8rem;
          font-weight: 500;
          font-family: $font-family-secondary;
        }

        &:hover {
          color: $color-white;
          background: $color-black-2;
          transition: all 0.2s;
        }

        &__icon {
          font-size: 2rem;
          min-width: 6rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
