.vehicle {
  display: grid;
  grid-template-columns: 15rem repeat(11, 1fr);
  grid-template-rows: 2rem repeat(11, 1fr);
  min-height: 100vh;
  max-height: 100vh;

  &__header {
    grid-area: 2 / 3 / 3 / 13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: $color-black;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    margin-bottom: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 90%;
    max-width: 120rem;
  }

  &__filters {
    grid-area: 3 / 3 / 4 / 13;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.6rem;
    color: $color-grey;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding-inline: 1rem;
    padding-block: 2.5rem;
    border-radius: 1rem;
    background-color: $color-black;

    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    margin: 0 auto;
    margin-bottom: 1rem;
    transition: all 0.3s;
    width: 90%;
    max-width: 120rem;

    &:focus {
      border: 1px solid $color-grey;
    }
  }

  &__table {
    grid-area: 4 / 3 /11/ 13;

    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 120rem;
    z-index: 1;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: $color-black;
  }
}
