.retrievePassword {
    &__container {
      background-color: $color-white;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba($color-black, 0.8);
      width: 100%;
      max-width: 40rem;
      text-align: center;
      z-index: 1;
    }
  
    &__logo {
      width: 13rem;
      height: 13rem;
    }
  
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
  
      &-title {
        font-size: 3rem;
        color: $color-grey;
        font-family: $font-family-secondary;
        margin-bottom: 1rem;
      }
  
      &-subtitle {
        font-size: 1rem;
        font-weight: 400;
        color: $color-grey;
        font-family: $font-family-primary;
      }
    }
  
    &__center {
      padding-block: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      gap: 0.5rem;
  
      &__input {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: $color-white;
        font-family: $font-family-primary;
        font-size: 1.6rem;
        border-radius: 1rem;
        color: $color-grey;
        padding-bottom: 1rem;
        box-shadow: 0 0 5px 0 rgba($color-grey, 0.8);
        margin-bottom: 1rem;
        width: 70%;
        transition: all 0.3s;
        &:focus {
          border: 1px solid $color-grey;
        }
  
        &__icon {
          font-size: 2rem;
          color: $color-primary;
        }
      }
  
      &__checker {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        font-family: $font-family-primary;
        font-size: 1.4rem;
        color: $color-grey;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
  
      &__checkbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
  
        input[type='checkbox'] {
          cursor: pointer;
          accent-color: $color-primary;
        }
      }
  
      &__forgot {
        p {
          font-size: 1.4rem;
          font-family: $font-family-primary;
          color: $color-primary;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
  
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        width: 70%;
      }
    }
  
    &__bottom {
      &__signup {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.4rem;
        font-family: $font-family-primary;
        color: $color-grey;
        margin-top: 1rem;
  
        span {
          color: $color-primary;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
  
      &__socialMedia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        color: $color-grey;
        cursor: pointer;
        transition: all 0.3s;
  
        p {
          font-size: 1rem;
          font-family: $font-family-primary;
        }
      
  
        &__buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 2rem;
         
        }
  
        &__button{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          border-radius: 50%;
          background:$linear-gradient-2;
          color: $color-white;
          font-size: 2rem;
          transition: all 0.3s;
          
          &:hover{
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
          }
        }
      }
    }
  }
    