@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background-color: #ffffff;
}

body {
  box-sizing: border-box;
  background-color: #bcd6f1;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  height: 100vh;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(27, 27, 27, 0.2);
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(27, 27, 27, 0.2);
}
.button__first {
  background: linear-gradient(150deg, #2DB7EA 0%, #2781e2 54%);
  color: #ffffff;
  width: 100%;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30rem;
  padding: 1.4rem 1.4rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sidebar__header {
  position: relative;
  display: flex;
  align-items: center;
}
.sidebar__header__imageBox__image {
  width: 6rem;
  border-radius: 0.6rem;
}
.sidebar__header__text {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 500;
  color: #5f5f5f;
}
.sidebar__header__text__companyName {
  font-weight: 600;
}
.sidebar__header__text__adminName {
  margin-top: 0.2rem;
  font-weight: 400;
}
.sidebar__menuBar {
  height: calc(100% - 15rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__menuBar__menu__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.sidebar__menuBar__menu__links__searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: 1rem;
  color: #5f5f5f;
}
.sidebar__menuBar__menu__links__searchBox input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.6rem;
}
.sidebar__menuBar__menu__links__item {
  height: 5rem;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  color: #5f5f5f;
  width: 100%;
  border-radius: 0.6rem;
}
.sidebar__menuBar__menu__links__item:hover {
  color: #ffffff;
  background: linear-gradient(150deg, #2DB7EA 0%, #2781e2 54%);
  transition: all 0.2s;
}
.sidebar__menuBar__menu__links__item__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.sidebar__menuBar__menu__links__item__box p {
  font-size: 2rem;
  font-weight: 500;
}
.sidebar__menuBar__menu__links__item__icon {
  font-size: 2rem;
  min-width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(27, 27, 27, 0.8);
  width: 100%;
  max-width: 40rem;
  text-align: center;
  z-index: 1;
}
.login__logo {
  width: 13rem;
  height: 13rem;
}
.login__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.login__header-title {
  font-size: 3rem;
  color: #5f5f5f;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 1rem;
}
.login__header-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #5f5f5f;
  font-family: "Roboto", sans-serif;
}
.login__center {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.login__center__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  border-radius: 1rem;
  color: #5f5f5f;
  padding-bottom: 1rem;
  box-shadow: 0 0 5px 0 rgba(95, 95, 95, 0.8);
  margin-bottom: 1rem;
  width: 70%;
  transition: all 0.3s;
}
.login__center__input:focus {
  border: 1px solid #5f5f5f;
}
.login__center__input__icon {
  font-size: 2rem;
  color: #2781e2;
}
.login__center__checker {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #5f5f5f;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.login__center__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.login__center__checkbox input[type=checkbox] {
  cursor: pointer;
  accent-color: #2781e2;
}
.login__center__forgot p {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #2781e2;
  cursor: pointer;
  transition: all 0.3s;
}
.login__center__forgot p:hover {
  text-decoration: underline;
}
.login__center__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 70%;
}
.login__bottom__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #5f5f5f;
  margin-top: 1rem;
}
.login__bottom__signup span {
  color: #2781e2;
  cursor: pointer;
  transition: all 0.3s;
}
.login__bottom__signup span:hover {
  text-decoration: underline;
}
.login__bottom__socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  color: #5f5f5f;
  cursor: pointer;
  transition: all 0.3s;
}
.login__bottom__socialMedia p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.login__bottom__socialMedia__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.login__bottom__socialMedia__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  background: linear-gradient(150deg, #2DB7EA 0%, #2781e2 54%);
  color: #ffffff;
  font-size: 2rem;
  transition: all 0.3s;
}
.login__bottom__socialMedia__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(27, 27, 27, 0.2);
}

.register__container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(27, 27, 27, 0.8);
  width: 100%;
  max-width: 40rem;
  text-align: center;
  z-index: 1;
}
.register__logo {
  width: 13rem;
  height: 13rem;
}
.register__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.register__header-title {
  font-size: 3rem;
  color: #5f5f5f;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 1rem;
}
.register__header-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #5f5f5f;
  font-family: "Roboto", sans-serif;
}
.register__center {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.register__center__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  border-radius: 1rem;
  color: #5f5f5f;
  padding-bottom: 1rem;
  box-shadow: 0 0 5px 0 rgba(95, 95, 95, 0.8);
  margin-bottom: 1rem;
  width: 70%;
  transition: all 0.3s;
}
.register__center__input:focus {
  border: 1px solid #5f5f5f;
}
.register__center__input__icon {
  font-size: 2rem;
  color: #2781e2;
}
.register__center__checker {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #5f5f5f;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.register__center__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.register__center__checkbox input[type=checkbox] {
  cursor: pointer;
  accent-color: #2781e2;
}
.register__center__forgot p {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #2781e2;
  cursor: pointer;
  transition: all 0.3s;
}
.register__center__forgot p:hover {
  text-decoration: underline;
}
.register__center__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 70%;
}
.register__bottom__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #5f5f5f;
  margin-top: 1rem;
}
.register__bottom__signup span {
  color: #2781e2;
  cursor: pointer;
  transition: all 0.3s;
}
.register__bottom__signup span:hover {
  text-decoration: underline;
}
.register__bottom__socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  color: #5f5f5f;
  cursor: pointer;
  transition: all 0.3s;
}
.register__bottom__socialMedia p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.register__bottom__socialMedia__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.register__bottom__socialMedia__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  background: linear-gradient(150deg, #2DB7EA 0%, #2781e2 54%);
  color: #ffffff;
  font-size: 2rem;
  transition: all 0.3s;
}
.register__bottom__socialMedia__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(27, 27, 27, 0.2);
}

.retrievePassword__container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(27, 27, 27, 0.8);
  width: 100%;
  max-width: 40rem;
  text-align: center;
  z-index: 1;
}
.retrievePassword__logo {
  width: 13rem;
  height: 13rem;
}
.retrievePassword__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.retrievePassword__header-title {
  font-size: 3rem;
  color: #5f5f5f;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 1rem;
}
.retrievePassword__header-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #5f5f5f;
  font-family: "Roboto", sans-serif;
}
.retrievePassword__center {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.retrievePassword__center__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  border-radius: 1rem;
  color: #5f5f5f;
  padding-bottom: 1rem;
  box-shadow: 0 0 5px 0 rgba(95, 95, 95, 0.8);
  margin-bottom: 1rem;
  width: 70%;
  transition: all 0.3s;
}
.retrievePassword__center__input:focus {
  border: 1px solid #5f5f5f;
}
.retrievePassword__center__input__icon {
  font-size: 2rem;
  color: #2781e2;
}
.retrievePassword__center__checker {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #5f5f5f;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.retrievePassword__center__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.retrievePassword__center__checkbox input[type=checkbox] {
  cursor: pointer;
  accent-color: #2781e2;
}
.retrievePassword__center__forgot p {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #2781e2;
  cursor: pointer;
  transition: all 0.3s;
}
.retrievePassword__center__forgot p:hover {
  text-decoration: underline;
}
.retrievePassword__center__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 70%;
}
.retrievePassword__bottom__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #5f5f5f;
  margin-top: 1rem;
}
.retrievePassword__bottom__signup span {
  color: #2781e2;
  cursor: pointer;
  transition: all 0.3s;
}
.retrievePassword__bottom__signup span:hover {
  text-decoration: underline;
}
.retrievePassword__bottom__socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  color: #5f5f5f;
  cursor: pointer;
  transition: all 0.3s;
}
.retrievePassword__bottom__socialMedia p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.retrievePassword__bottom__socialMedia__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.retrievePassword__bottom__socialMedia__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  background: linear-gradient(150deg, #2DB7EA 0%, #2781e2 54%);
  color: #ffffff;
  font-size: 2rem;
  transition: all 0.3s;
}
.retrievePassword__bottom__socialMedia__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(27, 27, 27, 0.2);
}

#login {
  background-image: url("./assets/background-login-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#login:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(39, 129, 226, 0.432) 0%, rgba(45, 183, 234, 0.685) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
}

#register {
  background-image: url("./assets/background-login-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#register:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(39, 129, 226, 0.432) 0%, rgba(45, 183, 234, 0.685) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
}

#retrievePassword {
  background-image: url("./assets/background-login-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#retrievePassword:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(39, 129, 226, 0.432) 0%, rgba(45, 183, 234, 0.685) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
}

/*# sourceMappingURL=App.css.map */
