@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background-color: #E0F4FF;
}

body {
  box-sizing: border-box;
  background-color: #E0F4FF;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  height: auto;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.button, .button:link, .button:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(27, 27, 27, 0.2);
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(27, 27, 27, 0.2);
}
.button__first {
  background: linear-gradient(150deg, #2DB7EA 0%, #2781e2 54%);
  color: #E0F4FF;
  width: 100%;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  text-decoration: none;
}

.login__container {
  background-color: #E0F4FF;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(27, 27, 27, 0.8);
  width: 100%;
  max-width: 40rem;
  text-align: center;
  z-index: 1;
}
.login__logo {
  width: 13rem;
  height: 13rem;
}
.login__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.login__header-title {
  font-size: 3rem;
  color: #585858;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 1rem;
}
.login__header-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #585858;
  font-family: "Roboto", sans-serif;
}
.login__center {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.login__center__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #E0F4FF;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  border-radius: 1rem;
  color: #585858;
  padding-bottom: 1rem;
  box-shadow: 0 0 5px 0 rgba(88, 88, 88, 0.8);
  margin-bottom: 1rem;
  width: 70%;
  transition: all 0.3s;
}
.login__center__input:focus {
  border: 1px solid #585858;
}
.login__center__input__icon {
  font-size: 2rem;
  color: #2781e2;
}
.login__center__checker {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #585858;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.login__center__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.login__center__checkbox input[type=checkbox] {
  cursor: pointer;
  accent-color: #2781e2;
}
.login__center__forgot p {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #2781e2;
  cursor: pointer;
  transition: all 0.3s;
}
.login__center__forgot p:hover {
  text-decoration: underline;
}
.login__center__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 70%;
}
.login__bottom__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #585858;
  margin-top: 1rem;
}
.login__bottom__signup span {
  color: #2781e2;
  cursor: pointer;
  transition: all 0.3s;
}
.login__bottom__signup span:hover {
  text-decoration: underline;
}
.login__bottom__socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  color: #585858;
  cursor: pointer;
  transition: all 0.3s;
}
.login__bottom__socialMedia p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.login__bottom__socialMedia__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.login__bottom__socialMedia__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  background: linear-gradient(150deg, #2DB7EA 0%, #2781e2 54%);
  color: #E0F4FF;
  font-size: 2rem;
  transition: all 0.3s;
}
.login__bottom__socialMedia__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(27, 27, 27, 0.2);
}

.login {
  background-image: url("./assets/background-login-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(39, 129, 226, 0.432) 0%, rgba(45, 183, 234, 0.685) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
}

/*# sourceMappingURL=App.css.map */
